@use "./variables" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $fs-1;
  font-family: $ff-primary;
  font-weight: $fw-regular;
}
