@use "./variables" as *;

.primary-title {
  font-size: $fs-2;
  font-weight: $fw-ex-bold;
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
}

.btn {
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.7em 1.4em;
  display: inline-block;
  border-radius: 10rem;

  &--primary {
    color: $clr-white;
    background-color: $clr-persian-blue-dark;

    &:hover {
      background-image: $gradient-primary;
    }
  }
}
